footer {
  padding: 2rem;
  background-color: var(--background-color);
  font-size: var(--body-font-size-s);
  color: var(--text-color);

}
a {
  color: var(--link-footer-color);
  text-decoration: none;
}
footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}